{% extends 'quest_list/main.html'%}
{% block main_section %}
    <div class="starter-template">
        <h1>Квесты в реальной жизни. Игрофикация.</h1>
        <div class="lead">
            Добро пожаловать, странник!
            <br> Цель этой игры - побудить людей по всему миру совершать добрые поступки и помогать другу, и всё это в игровом формате.
            <br> Правила:
            <ol>
                <li>Участвовать могут все желающие, для этого необходимо лишь зарегистрироваться.</li>
                <li>После регистрации можно будет выбрать базовые квесты, предложенные системой, или добавленные другими людьми.</li>
                <li>Можно создавать свои квесты (каждый квест проходит предварительную модерацию).</li>
                <li>За выполнение квеста может выдаваться награда от предлагающего, а также очки опыта (XP).</li>
                <li>XP можно потратить на получение скидок на продукцию или услуги партнеров и спонсоров этого проекта.</li>
                <li>В игре существует 3 типа квестов:
                    <br>
                    <br>Ежедневные (выполняются один раз в день);
                    <br>Регулярные (выполняются настолько часто, насколько способен игрок);
                    <br>Разовые (выполняются всего один раз).
                    <br><br>
                </li>
                <li>С увеличением количества XP будет расти уровень игрока, что отразится на его ранге (статусе) и всемирном рейтинге.</li>
                <li>За невыполнение квеста игрок получает штраф по XP.</li>
                <li>За большими подробностями читайте FAQ или воспользуйтесь обратной связью.</li>
                <li>Наслаждайтесь процессом!</li>
            </ol>
            <br>
        </div>
    </div>
{% endblock main_section %}



