<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real Quests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'start_page/main.css' %} ">
</head>

<body><br><br><br>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="">Real Quests</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" {% if user.is_authenticated %}
                       href="{% url 'quest_list-base' %}"
                    {% else %}
                       href="{% url 'start_page-base' %}"
                    {% endif %}>Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">FAQ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Партнеры <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Обратная связь <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn btn-outline-secondary mr-2">Профиль</a>
                <a href="{% url 'exit' %}" class="btn btn-outline-secondary mr-2">Выйти</a>
            {% else %}
            <a href="{% url 'reg' %}" class="btn btn-outline-secondary mr-2">Зарегистрироваться</a>
            <a href="{% url 'auth' %}" class="btn btn-outline-secondary">Войти</a>
            {% endif %}
        </div>
    </nav>



<main role="main" class="container">

    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-success " align="center">
                {{ m }}
            </div>
        {% endfor %}
    {% endif %}

    {% block main_section %}
    {% endblock main_section %}

    <footer class="text-muted fixed-bottom">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap?
                <a href="https://getbootstrap.com/">
                    Visit the homepage
                </a> or read our
                <a href="/docs/4.3/getting-started/introduction/">
                    getting started guide
                </a>.
            </p>
        </div>
    </footer>

</main>

</body>
